li,
h2 {    
    background-color: lightseagreen;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* THE BELOW HAS BEEN COPIED CSS-TRICKS.COM */

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(5turn);
  }
}

.card {
  animation: spin 5s ease;
  animation-iteration-count: 1;
}

.container {
  perspective: 1000px;
}